In [1]:
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [2]:
import pandas as pd

In [3]:
training_data=pd.read_csv('sales_data_training.csv')

In [4]:
training_data

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,0,1,0,1,0,0,132717,59.99
1,4.5,0,0,0,0,1,1,0,83407,49.99
2,3.0,0,0,0,0,1,1,0,62423,49.99
3,4.5,1,0,0,0,0,0,1,69889,39.99
4,4.0,1,0,1,0,1,0,1,161382,59.99
...,...,...,...,...,...,...,...,...,...,...
995,4.0,0,0,0,1,1,0,0,105793,59.99
996,2.0,0,1,0,1,0,0,1,86313,59.99
997,4.5,0,1,0,1,1,0,0,196383,59.99
998,3.5,1,1,0,0,0,0,1,97972,39.99
999,3.0,1,0,0,0,1,0,1,89874,49.99

In [5]:
test_data=pd.read_csv('sales_data_test.csv')

In [6]:
test_data

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,3.5,1,1,1,0,1,0,1,247537,59.99
1,2.5,0,0,0,1,1,0,0,73960,59.99
2,3.5,0,0,0,0,1,1,0,82671,59.99
3,4.0,1,1,0,0,1,0,0,137456,39.99
4,2.0,1,0,1,0,1,0,0,89639,59.99
...,...,...,...,...,...,...,...,...,...,...
395,4.5,1,0,0,0,0,0,0,95816,59.99
396,4.0,1,0,0,0,1,0,0,121947,59.99
397,5.0,1,1,1,0,0,0,0,142313,39.99
398,2.0,1,1,0,0,0,0,0,61549,39.99
399,3.5,1,0,1,0,0,0,0,80107,49.99

In [7]:
scaler=MinMaxScaler(feature_range=(0,1))

In [8]:
scaled_train=scaler.fit_transform(training_data)

In [9]:
scaled_test=scaler.transform(test_data)

In [10]:
scaled_train

array([[0.5       , 1.        , 0.        , ..., 0.        , 0.37471396,
        1.        ],
       [0.83333333, 0.        , 0.        , ..., 0.        , 0.19242528,
        0.5       ],
       [0.33333333, 0.        , 0.        , ..., 0.        , 0.11485185,
        0.5       ],
       ...,
       [0.83333333, 0.        , 1.        , ..., 0.        , 0.61007375,
        1.        ],
       [0.5       , 1.        , 1.        , ..., 1.        , 0.24626902,
        0.        ],
       [0.33333333, 1.        , 0.        , ..., 1.        , 0.21633242,
        0.5       ]])

In [11]:
print(scaler.scale_[8])
print(scaler.min_[8])

3.696789338459548e-06
-0.11591282970739912

In [12]:
scaled_train_data=pd.DataFrame(scaled_train,columns=training_data.columns.values)

In [13]:
scaled_test_data=pd.DataFrame(scaled_test,columns=test_data.columns.values)

In [14]:
trainingdata=scaled_train_data
testingdata=scaled_test_data

In [15]:
trainingdata

,critic_rating,is_action,is_exclusive_to_us,is_portable,is_role_playing,is_sequel,is_sports,suitable_for_kids,total_earnings,unit_price
0,0.500000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.374714,1.0
1,0.833333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.192425,0.5
2,0.333333,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.114852,0.5
3,0.833333,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.142452,0.0
4,0.666667,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.480682,1.0
...,...,...,...,...,...,...,...,...,...,...
995,0.666667,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.275182,1.0
996,0.000000,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.203168,1.0
997,0.833333,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.610074,1.0
998,0.500000,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.246269,0.0
999,0.333333,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.216332,0.5

In [16]:
X=trainingdata.drop('total_earnings',axis=1).values

In [17]:
Y=trainingdata['total_earnings'].values

In [18]:
from keras.models import Sequential

Using TensorFlow backend.

In [19]:
from keras.layers import *

In [20]:
model=Sequential()

In [21]:
model.add(Dense(50,input_dim=9,activation='relu',name='layer1'))

In [22]:
model.add(Dense(50,activation='relu',name='layer2'))

In [23]:
model.add(Dense(50,activation='relu',name='layer3'))

In [24]:
model.add(Dense(1,activation='linear',name='layer4'))

In [25]:
model.compile(loss='mean_squared_error',optimizer='adam')

In [26]:
model.fit(
    X,
    Y,
    epochs=50,
    shuffle=True,
    verbose=2,
    )

Epoch 1/50
 - 1s - loss: 0.0275
Epoch 2/50
 - 0s - loss: 0.0024
Epoch 3/50
 - 0s - loss: 9.5291e-04
Epoch 4/50
 - 0s - loss: 5.8378e-04
Epoch 5/50
 - 0s - loss: 4.0372e-04
Epoch 6/50
 - 0s - loss: 2.9134e-04
Epoch 7/50
 - 0s - loss: 2.2110e-04
Epoch 8/50
 - 0s - loss: 1.7717e-04
Epoch 9/50
 - 0s - loss: 1.5017e-04
Epoch 10/50
 - 0s - loss: 1.4028e-04
Epoch 11/50
 - 0s - loss: 1.1520e-04
Epoch 12/50
 - 0s - loss: 1.0435e-04
Epoch 13/50
 - 0s - loss: 9.2482e-05
Epoch 14/50
 - 0s - loss: 8.1975e-05
Epoch 15/50
 - 0s - loss: 8.2428e-05
Epoch 16/50
 - 0s - loss: 7.0962e-05
Epoch 17/50
 - 0s - loss: 6.5038e-05
Epoch 18/50
 - 0s - loss: 5.8021e-05
Epoch 19/50
 - 0s - loss: 5.5916e-05
Epoch 20/50
 - 0s - loss: 5.2728e-05
Epoch 21/50
 - 0s - loss: 4.9715e-05
Epoch 22/50
 - 0s - loss: 5.0505e-05
Epoch 23/50
 - 0s - loss: 4.3650e-05
Epoch 24/50
 - 0s - loss: 3.7056e-05
Epoch 25/50
 - 0s - loss: 3.6155e-05
Epoch 26/50
 - 0s - loss: 3.3921e-05
Epoch 27/50
 - 0s - loss: 3.3143e-05
Epoch 28/50
 - 0s - loss: 3.2578e-05
Epoch 29/50
 - 0s - loss: 2.7098e-05
Epoch 30/50
 - 0s - loss: 2.9322e-05
Epoch 31/50
 - 0s - loss: 2.7705e-05
Epoch 32/50
 - 0s - loss: 2.6186e-05
Epoch 33/50
 - 0s - loss: 2.9275e-05
Epoch 34/50
 - 0s - loss: 2.7127e-05
Epoch 35/50
 - 0s - loss: 2.7650e-05
Epoch 36/50
 - 0s - loss: 2.4293e-05
Epoch 37/50
 - 0s - loss: 3.0453e-05
Epoch 38/50
 - 0s - loss: 2.2792e-05
Epoch 39/50
 - 0s - loss: 2.1316e-05
Epoch 40/50
 - 0s - loss: 2.6182e-05
Epoch 41/50
 - 0s - loss: 2.2197e-05
Epoch 42/50
 - 0s - loss: 3.2439e-05
Epoch 43/50
 - 0s - loss: 2.4346e-05
Epoch 44/50
 - 0s - loss: 2.3300e-05
Epoch 45/50
 - 0s - loss: 2.1580e-05
Epoch 46/50
 - 0s - loss: 1.9741e-05
Epoch 47/50
 - 0s - loss: 2.7018e-05
Epoch 48/50
 - 0s - loss: 2.6999e-05
Epoch 49/50
 - 0s - loss: 2.5238e-05
Epoch 50/50
 - 0s - loss: 2.8201e-05

In [27]:
X_test=testingdata.drop('total_earnings',axis=1).values

In [28]:
Y_test=testingdata['total_earnings'].values

In [29]:
test_error=model.evaluate(X_test,Y_test,verbose=0)

In [30]:
print(test_error)

0.00017940260004252196

In [31]:
X_prop=pd.read_csv('proposed_new_product.csv')

In [32]:
prediction=model.predict(X_prop)

In [33]:
prediction

array([[0.8486832]], dtype=float32)

In [34]:
predict=prediction[0][0]

In [35]:
predict +=0.11591282970739912

In [36]:
predict=(predict/(3.696789338459548))* (10**6)

In [37]:
predict

260928.04317981005

In [38]:
model.save('trained_model_total_earnings.h5')
print('Model saved')

Model saved